#body{
}

#horizon{
    left: 375px;
    top: 550px;
    position: absolute;
    z-index: 0;
    //transform: rotate(90deg);
}

#border{
    left: 350px;
    top: 605px;
    position: absolute;
    z-index: 15;
    //transform: rotate(90deg);
}

#FD{
    position: absolute;
    z-index: 10;
    left: 540px;
    top: 775px;
}